# Project: Data Cleaning - Preprozessing
# Katharina-Ingo-Micha

# Daten-Vorbereitung (Z020_NeuFachkraefteTransformierte.csv)

################################################################
Name der Datei: NeuFachkraefteTransformierte.csv

Inhalt der Datei:
Für das Jahr 2021 werden für den Bereich Deutschland bzw. Bundeslaender
Arbeitslose pro Berufsgruppe und zugehörige gemeldete Arbeitsstellen
im statistischen Mittel angezeigt. 

Skalenniveau der Zufallsvariablen/Merkmale:
Berichtsjahr (Metrisches Skalenniveau),
Region (Nominales Skalenniveau),
BerufSchluessel (Nominales Skalenniveau),
Berufsgruppe (Nominales Skalenniveau),
Anforderungsniveau (Kardinales Skalenniveau),
Hilfsvariable_Gewichtung (Metrisches Skalenniveau),,
AnzGesamtbeschaeftigteProBerufsgruppe (Metrisches Skalenniveau), 
AnzArbeitsloseMittel (Metrisches Skalenniveau),
AnzGemeldetArbeitsstellenMittel (Metrisches Skalenniveau),
ArbeitslosenStellenRelation (Metrisches Skalenniveau, aber absolutes Skalenniveau), 
AnzTageVakanzzeitMittel (Metrisches Skalenniveau),
AnzBeschaeftigteUnter25ProBerufsgruppe (Metrisches Skalenniveau), 
AnzArbeitsloseUnter25JahreMittel (Metrisches Skalenniveau),
AnzBeschaeftigte25bis54ProBerufsgruppe (Metrisches Skalenniveau), 
AnzArbeitslose25bis54JahreMittel (Metrisches Skalenniveau), 
AnzBeschaeftigteAelter55ProBerufsgruppe (Metrisches Skalenniveau),
AnzArbeitsloseAelter55 JahreMittel (Metrisches Skalenniveau),

Definition: ArbeitslosenStellenRelation
Auf 100 gemeldete freie Arbeitsstellen kommen x Arbeitslose.
(eventuelle rechnerische Abweichungen siehe Legende unten).

Corollar:
o.B.a.d.A. und o.B.d.A. handelt es sich bei den Merkmalsausprägungen
des Merkmals BerufSchluessel um ein disunkte Aufteilung aller Berufsgruppen
#################################################################

In [1]:
# Einlesen der Bibliotheken:
import pandas as pd 
import chardet

In [2]:
# Integer-Konstanten und String-Konstanten:
def f_constp06(): return int(6)
def f_constp03(): return int(3)
def f_constp02(): return int(2)
def f_constp01(): return int(1)
def f_constp00(): return int(0)

In [3]:
# Datenpfad und Grafikpfad und Dateiname:
DATAPATH ='C:/Users/Blenki7/PycharmProjects/PythonProject/DataAnalytics_01/Code_Kurs/KLR-166/77_Projekt/'
GRAPHPATH ='C:/Users/Blenki7/PycharmProjects/PythonProject/DataAnalytics_01/Code_Kurs/KLR-166/77_Projekt/'
filename="Z020_NeuFachkraefteTransformierte.csv"

In [4]:
#DATAPATH ='C:/Users/Blenki7/PycharmProjects/PythonProject/DataAnalytics_01/Code_Kurs/KLR-166/77_Projekt/'
#filename="Z020_NeuFachkraefteTransformierte.csv" 

with open(DATAPATH+filename, 'rb') as file:
     print(chardet.detect(file.read()))    
file.close()

{'encoding': 'UTF-8-SIG', 'confidence': 1.0, 'language': ''}

In [5]:
# Einlesen der ersten sechs Datensaetze der Datei als Dataframe, um Trennzeichen herauszufinden:
df_fachkraft = pd.read_csv(DATAPATH+filename,
                           sep="/n",
                           encoding="latin-1",
                           engine='python',
                           nrows=f_constp06())  
df_fachkraft.head(f_constp06())

  ï»¿Berichtsjahr;Region;BerufSchluessel;Berufsgruppe;Anforderungsniveau;HilfsvariableGewichtung;AnzGesamtbeschaeftigteProBerufsgruppe ;AnzArbeitsloseMittel;AnzGemeldetArbeitsstellenMittel;ArbeitslosenStellenRelation;AnzTageVakanzzeitMittel;AnzBeschaeftigteUnter25ProBerufsgruppe ;AnzArbeitsloseUnter25JahreMittel;AnzBeschaeftigte25bis54ProBerufsgruppe ;AnzArbeitslose25bis54JahreMittel ;AnzBeschaeftigteAelter55ProBerufsgruppe ;AnzArbeitsloseAelter55 JahreMittel
0  2021;Deutschland;431;Informatik;FachkrÃ¤fte;1;...
1  2021;BadenWuerttemberg;431;Informatik;FachkrÃ¤...
2  2021;RheinlandPfalz;431;Informatik;Experten;0,...
3  2021;NordrheinWestfalen;431;Informatik;FachkrÃ...
4  2021;Niedersachsen;431;Informatik;FachkrÃ¤fte;...
5  2021;Deutschland;2630;Elektrotechnik;Helfer;1;...

In [6]:
# Einlesen der Datei als Dataframe mit richtigen Trennzeichen importieren:
df_fachkraft = pd.read_csv(DATAPATH+filename, delimiter=';')  
print(df_fachkraft.head(f_constp02()))

   Berichtsjahr             Region  BerufSchluessel Berufsgruppe  \
0          2021        Deutschland              431   Informatik
1          2021  BadenWuerttemberg              431   Informatik

  Anforderungsniveau HilfsvariableGewichtung  \
0         Fachkräfte                       1
1         Fachkräfte                  0,1335

   AnzGesamtbeschaeftigteProBerufsgruppe   AnzArbeitsloseMittel  \
0                                  277882                  3596
1                                   37097                   389

   AnzGemeldetArbeitsstellenMittel  ArbeitslosenStellenRelation  \
0                             2233                          161
1                              303                          128

   AnzTageVakanzzeitMittel  AnzBeschaeftigteUnter25ProBerufsgruppe   \
0                      124                                    42850
1                      133                                     5720

   AnzArbeitsloseUnter25JahreMittel  AnzBeschaeftigte25bis54ProBerufsgruppe   \
0                               430                                   195614
1                                52                                    26114

   AnzArbeitslose25bis54JahreMittel   \
0                               2980
1                                318

   AnzBeschaeftigteAelter55ProBerufsgruppe   \
0                                    138354
1                                     18470

   AnzArbeitsloseAelter55 JahreMittel
0                                 187
1                                  19

In [7]:
print(df_fachkraft.tail(f_constp02()))

    Berichtsjahr              Region  BerufSchluessel  Berufsgruppe  \
23          2021  NordrheinWestfalen             8210   Altenpflege
24          2021       Niedersachsen             8210   Altenpflege

   Anforderungsniveau HilfsvariableGewichtung  \
23             Helfer                  0,2156
24             Helfer                  0,0962

    AnzGesamtbeschaeftigteProBerufsgruppe   AnzArbeitsloseMittel  \
23                                  132686                  8775
24                                   59204                  3139

    AnzGemeldetArbeitsstellenMittel  ArbeitslosenStellenRelation  \
23                              998                          879
24                              676                          464

    AnzTageVakanzzeitMittel  AnzBeschaeftigteUnter25ProBerufsgruppe   \
23                      162                                    15687
24                      151                                     7000

    AnzArbeitsloseUnter25JahreMittel  AnzBeschaeftigte25bis54ProBerufsgruppe   \
23                              1238                                    88229
24                               433                                    39368

    AnzArbeitslose25bis54JahreMittel   \
23                               6566
24                               2363

    AnzBeschaeftigteAelter55ProBerufsgruppe   \
23                                     28770
24                                     12837

    AnzArbeitsloseAelter55 JahreMittel
23                                 971
24                                 344

In [8]:
# Genauere Untersuchung des Dataframes:

dim_crofun_1 = df_fachkraft.ndim
rows_crofun_1 = len(df_fachkraft.axes[f_constp00()]) 
cols_crofun_1 = len(df_fachkraft.axes[f_constp01()])
shape_crofun_1 = df_fachkraft.shape
dtyp_crofun_1 = df_fachkraft.dtypes    # Datentypen der einzelnen Spalten df_crowdfunding_1 herausfinden.
info_crofun_1 = df_fachkraft.info()    # Belegung der Datentypen mit Non Null Werten herausfinden.
index_crofun_1 = df_fachkraft.index  
column_crofun_1 = df_fachkraft.columns # ENTHALTEN JEWEILS EIN LEERZEICHEN !!!
print(f'-------------------------------------------------------------------------------------------------')
print("DATAFRAME df_fachkraft:")
print("Dimension of Dataframe df_crofun_1: " + str(dim_crofun_1)) 
print("Number of Rows von df_crofun_1: " + str(rows_crofun_1)) 
print("Number of Columns von df_crofun_1: " + str(cols_crofun_1)) 
print("shape von df_crofun_1: " + str(shape_crofun_1)) 
print(f'')
print("Spalten-Datentypen von df_crofun_1: " + str(dtyp_crofun_1)) 
print(f'')
print(f'Spalten-Datentypen von df_crofun_1 mit Non-Null-Belegungen herausfinden. Anzahl: {info_crofun_1}') 
print(f'')
print("Anzeige der Index-Attribute (for rows) von df_crofun_1: "+ str(index_crofun_1))
print(f'')
print("Anzeige der Spaltenbezeichnungen (for columns) von df_crofun_1: "+ str(column_crofun_1))
print(f'-------------------------------------------------------------------------------------------------')
print(f'')
print(f'')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 17 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Berichtsjahr                              25 non-null     int64
 1   Region                                    25 non-null     object
 2   BerufSchluessel                           25 non-null     int64
 3   Berufsgruppe                              25 non-null     object
 4   Anforderungsniveau                        25 non-null     object
 5   HilfsvariableGewichtung                   25 non-null     object
 6   AnzGesamtbeschaeftigteProBerufsgruppe     25 non-null     int64
 7   AnzArbeitsloseMittel                      25 non-null     int64
 8   AnzGemeldetArbeitsstellenMittel           25 non-null     int64
 9   ArbeitslosenStellenRelation               25 non-null     int64
 10  AnzTageVakanzzeitMittel                   25 non-null     int64
 11  AnzBeschaeftigteUnter25ProBerufsgruppe    25 non-null     int64
 12  AnzArbeitsloseUnter25JahreMittel          25 non-null     int64
 13  AnzBeschaeftigte25bis54ProBerufsgruppe    25 non-null     int64
 14  AnzArbeitslose25bis54JahreMittel          25 non-null     int64
 15  AnzBeschaeftigteAelter55ProBerufsgruppe   25 non-null     int64
 16  AnzArbeitsloseAelter55 JahreMittel        25 non-null     int64
dtypes: int64(13), object(4)
memory usage: 3.4+ KB
-------------------------------------------------------------------------------------------------
DATAFRAME df_fachkraft:
Dimension of Dataframe df_crofun_1: 2
Number of Rows von df_crofun_1: 25
Number of Columns von df_crofun_1: 17
shape von df_crofun_1: (25, 17)

Spalten-Datentypen von df_crofun_1: Berichtsjahr                                 int64
Region                                      object
BerufSchluessel                              int64
Berufsgruppe                                object
Anforderungsniveau                          object
HilfsvariableGewichtung                     object
AnzGesamtbeschaeftigteProBerufsgruppe        int64
AnzArbeitsloseMittel                         int64
AnzGemeldetArbeitsstellenMittel              int64
ArbeitslosenStellenRelation                  int64
AnzTageVakanzzeitMittel                      int64
AnzBeschaeftigteUnter25ProBerufsgruppe       int64
AnzArbeitsloseUnter25JahreMittel             int64
AnzBeschaeftigte25bis54ProBerufsgruppe       int64
AnzArbeitslose25bis54JahreMittel             int64
AnzBeschaeftigteAelter55ProBerufsgruppe      int64
AnzArbeitsloseAelter55 JahreMittel           int64
dtype: object

Spalten-Datentypen von df_crofun_1 mit Non-Null-Belegungen herausfinden. Anzahl: None

Anzeige der Index-Attribute (for rows) von df_crofun_1: RangeIndex(start=0, stop=25, step=1)

Anzeige der Spaltenbezeichnungen (for columns) von df_crofun_1: Index(['Berichtsjahr', 'Region', 'BerufSchluessel', 'Berufsgruppe',
       'Anforderungsniveau', 'HilfsvariableGewichtung',
       'AnzGesamtbeschaeftigteProBerufsgruppe ', 'AnzArbeitsloseMittel',
       'AnzGemeldetArbeitsstellenMittel', 'ArbeitslosenStellenRelation',
       'AnzTageVakanzzeitMittel', 'AnzBeschaeftigteUnter25ProBerufsgruppe ',
       'AnzArbeitsloseUnter25JahreMittel',
       'AnzBeschaeftigte25bis54ProBerufsgruppe ',
       'AnzArbeitslose25bis54JahreMittel ',
       'AnzBeschaeftigteAelter55ProBerufsgruppe ',
       'AnzArbeitsloseAelter55 JahreMittel'],
      dtype='object')
-------------------------------------------------------------------------------------------------

In [9]:
# Anpassen der Spaltennamen zur besseren Verarbeitung:
df_fachkraft.rename(mapper={'Berichtsjahr':'Jahr', 
                            'Region':'Land',
                            'BerufSchluessel':'Key',
                            'Berufsgruppe':'Job',
                            'Anforderungsniveau':'Klasse',
                            'HilfsvariableGewichtung':'Gewicht',
                            'AnzGesamtbeschaeftigteProBerufsgruppe ':'B_Gesamt',
                            'AnzArbeitsloseMittel':'A_Gesamt',
                            'AnzGemeldetArbeitsstellenMittel':'StA_Gesamt',  
                            'ArbeitslosenStellenRelation':'Relation',  
                            'AnzTageVakanzzeitMittel':'Vakanz',  
                            'AnzBeschaeftigteUnter25ProBerufsgruppe ':'B25_Teil',  
                            'AnzArbeitsloseUnter25JahreMittel':'A25_Teil',
                            'AnzBeschaeftigte25bis54ProBerufsgruppe ':'B54_Teil',
                            'AnzArbeitslose25bis54JahreMittel ':'A54_Teil',
                            'AnzBeschaeftigteAelter55ProBerufsgruppe ':'B55_Teil',
                            'AnzArbeitsloseAelter55 JahreMittel':'A55_Teil'}, 
                   axis=1,
                   inplace=True)

df_arbeitslose=pd.DataFrame(df_fachkraft)
df_arbeitslose.head(f_constp06())

,Jahr,Land,Key,Job,Klasse,Gewicht,B_Gesamt,A_Gesamt,StA_Gesamt,Relation,Vakanz,B25_Teil,A25_Teil,B54_Teil,A54_Teil,B55_Teil,A55_Teil
0,2021,Deutschland,431,Informatik,Fachkräfte,1,277882,3596,2233,161,124,42850,430,195614,2980,138354,187
1,2021,BadenWuerttemberg,431,Informatik,Fachkräfte,"0,1335",37097,389,303,128,133,5720,52,26114,318,18470,19
2,2021,RheinlandPfalz,431,Informatik,Experten,"0,0493",13700,105,293,36,98,2113,2,9644,87,6821,17
3,2021,NordrheinWestfalen,431,Informatik,Fachkräfte,"0,2156",59911,1238,550,225,115,9238,132,42174,1021,29829,85
4,2021,Niedersachsen,431,Informatik,Fachkräfte,"0,0962",26732,481,323,149,119,4122,63,18818,383,13310,35
5,2021,Deutschland,2630,Elektrotechnik,Helfer,1,256085,14263,1204,1184,122,21899,1688,172874,10173,61312,2403

In [10]:
# Test auf Identität liefert "false": id(df_crowdfunding_1)==id(df_crofun_1)
# Somit wurde ein neues DataFrame-Objekt zur Revisionsicherheit erzeugt.

print('Test auf Identität liefert das Ergebnis: ',id(df_arbeitslose)==id(df_fachkraft), ".  Somit wurde ein neues Dataframe erzeugt !")

Test auf Identität liefert das Ergebnis:  False .  Somit wurde ein neues Dataframe erzeugt !

In [11]:
# Datenelemente des Dataframes genauer anschauen:

print(f'------------------------------------------------------------------------------------------------------------')
print(f'Anzahl der Elelemente pro Spalten-Datentyp von df_arbeitslose, welche "non-null"-Belegungen haben:')
df_arbeitslose.info() 
print(f'')
print(f'')

------------------------------------------------------------------------------------------------------------
Anzahl der Elelemente pro Spalten-Datentyp von df_arbeitslose, welche "non-null"-Belegungen haben:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Jahr        25 non-null     int64
 1   Land        25 non-null     object
 2   Key         25 non-null     int64
 3   Job         25 non-null     object
 4   Klasse      25 non-null     object
 5   Gewicht     25 non-null     object
 6   B_Gesamt    25 non-null     int64
 7   A_Gesamt    25 non-null     int64
 8   StA_Gesamt  25 non-null     int64
 9   Relation    25 non-null     int64
 10  Vakanz      25 non-null     int64
 11  B25_Teil    25 non-null     int64
 12  A25_Teil    25 non-null     int64
 13  B54_Teil    25 non-null     int64
 14  A54_Teil    25 non-null     int64
 15  B55_Teil    25 non-null     int64
 16  A55_Teil    25 non-null     int64
dtypes: int64(13), object(4)
memory usage: 3.4+ KB

In [12]:
# Absolute Häufigkeit der "null"-Belegungen pro Spalte:
print(f'------------------------------------------------------------------------------------------------------------')
print(f'Dataframe df_crowdfunding_1: Absolute Häufigkeit der "null"-Belegungen pro Spalte:')
df_arbeitslose.isnull().sum()

------------------------------------------------------------------------------------------------------------
Dataframe df_crowdfunding_1: Absolute Häufigkeit der "null"-Belegungen pro Spalte:

Jahr          0
Land          0
Key           0
Job           0
Klasse        0
Gewicht       0
B_Gesamt      0
A_Gesamt      0
StA_Gesamt    0
Relation      0
Vakanz        0
B25_Teil      0
A25_Teil      0
B54_Teil      0
A54_Teil      0
B55_Teil      0
A55_Teil      0
dtype: int64

In [13]:
# Anzeigen aller Datensätze von df_arbeitslose, die in der Spalte 'Vakanz' ein "numpy nan" haben:
df_arbeitslose.loc[df_arbeitslose['Vakanz'].isnull(), :]

Empty DataFrame
Columns: [Jahr, Land, Key, Job, Klasse, Gewicht, B_Gesamt, A_Gesamt, StA_Gesamt, Relation, Vakanz, B25_Teil, A25_Teil, B54_Teil, A54_Teil, B55_Teil, A55_Teil]
Index: []

In [14]:
# Das Merkmal "Relation" ist inhaltlich ein int --> datentyp wird aber als float angezeigt:
# (wurde bereits manuell in der EXCEL-Datei angepasst)
df_arbeitslose.Relation.unique()

array([ 161,  128,   36,  225,  149, 1184, 1000,  736, 1390, 1248,  371,
        328,  341,  561,  295, 5475, 2209, 3408, 7407, 9763,  565,  527,
        462,  879,  464], dtype=int64)

In [15]:
# Ergebnis: Das Merkmal "Relation" von float auf int umgewandelt:
df_arbeitslose['Relation'] = df_arbeitslose['Relation'].astype(int)

In [16]:
# Kontrolle:
df_arbeitslose.Relation.unique()

array([ 161,  128,   36,  225,  149, 1184, 1000,  736, 1390, 1248,  371,
        328,  341,  561,  295, 5475, 2209, 3408, 7407, 9763,  565,  527,
        462,  879,  464])

In [17]:
df_fund= df_arbeitslose.drop_duplicates()
print('Row count is for df_fund:',df_fund.shape[0])
print('Columns count is for df_fund:',df_fund.shape[1])

Row count is for df_fund: 25
Columns count is for df_fund: 17

In [18]:
# Mit diesen Datensätzen in df_fund führen wir jetzt eine Verdichtung durch.
# Zuerst werden die relativen Häufigkeiten für das Eintreten von 
# Arbeitslosigkeit berechnet und als neue Spalte hinzugefügt.

df_fund.insert(loc=8, column='WKA_Gesamt', value=round(df_fund.A_Gesamt/df_fund.B_Gesamt,2))
df_fund.insert(loc=14, column='WKA25_Teil', value=round(df_fund.A25_Teil/df_fund.B25_Teil,2))
df_fund.insert(loc=17, column='WKA54_Teil', value=round(df_fund.A54_Teil/df_fund.B54_Teil,2))
df_fund.insert(loc=20, column='WKA55_Teil', value=round(df_fund.A55_Teil/df_fund.B55_Teil,2))

df_fund.head(f_constp06())

,Jahr,Land,Key,Job,Klasse,Gewicht,B_Gesamt,A_Gesamt,WKA_Gesamt,StA_Gesamt,...,Vakanz,B25_Teil,A25_Teil,WKA25_Teil,B54_Teil,A54_Teil,WKA54_Teil,B55_Teil,A55_Teil,WKA55_Teil
0,2021,Deutschland,431,Informatik,Fachkräfte,1,277882,3596,0.01,2233,...,124,42850,430,0.01,195614,2980,0.02,138354,187,0.00
1,2021,BadenWuerttemberg,431,Informatik,Fachkräfte,"0,1335",37097,389,0.01,303,...,133,5720,52,0.01,26114,318,0.01,18470,19,0.00
2,2021,RheinlandPfalz,431,Informatik,Experten,"0,0493",13700,105,0.01,293,...,98,2113,2,0.00,9644,87,0.01,6821,17,0.00
3,2021,NordrheinWestfalen,431,Informatik,Fachkräfte,"0,2156",59911,1238,0.02,550,...,115,9238,132,0.01,42174,1021,0.02,29829,85,0.00
4,2021,Niedersachsen,431,Informatik,Fachkräfte,"0,0962",26732,481,0.02,323,...,119,4122,63,0.02,18818,383,0.02,13310,35,0.00
5,2021,Deutschland,2630,Elektrotechnik,Helfer,1,256085,14263,0.06,1204,...,122,21899,1688,0.08,172874,10173,0.06,61312,2403,0.04

In [19]:
# BIS HIERHER !!!!

df_fund.stack().str.replace(',','.').unstack()
#df_fund.head(f_constp06())

,Jahr,Land,Key,Job,Klasse,Gewicht,B_Gesamt,A_Gesamt,WKA_Gesamt,StA_Gesamt,...,Vakanz,B25_Teil,A25_Teil,WKA25_Teil,B54_Teil,A54_Teil,WKA54_Teil,B55_Teil,A55_Teil,WKA55_Teil
0,NaN,Deutschland,NaN,Informatik,Fachkräfte,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,BadenWuerttemberg,NaN,Informatik,Fachkräfte,0.1335,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,RheinlandPfalz,NaN,Informatik,Experten,0.0493,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NordrheinWestfalen,NaN,Informatik,Fachkräfte,0.2156,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Niedersachsen,NaN,Informatik,Fachkräfte,0.0962,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Deutschland,NaN,Elektrotechnik,Helfer,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,BadenWuerttemberg,NaN,Elektrotechnik,Helfer,0.1335,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,RheinlandPfalz,NaN,Elektrotechnik,Helfer,0.0493,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NordrheinWestfalen,NaN,Elektrotechnik,Helfer,0.2156,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Niedersachsen,NaN,Elektrotechnik,Helfer,0.0962,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,Deutschland,NaN,UnternehmensorganisationUStrategie,Fachkräfte,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,BadenWuerttemberg,NaN,UnternehmensorganisationUStrategie,Fachkräfte,0.1335,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,RheinlandPfalz,NaN,UnternehmensorganisationUStrategie,Fachkräfte,0.0493,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NordrheinWestfalen,NaN,UnternehmensorganisationUStrategie,Fachkräfte,0.2156,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,Niedersachsen,NaN,UnternehmensorganisationUStrategie,Fachkräfte,0.0962,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,Deutschland,NaN,Verkauf,Helfer,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,BadenWürttemberg,NaN,Verkauf,Helfer,0.1335,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,RheinlandPfalz,NaN,Verkauf,Helfer,0.0493,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NordrheinWestfalen,NaN,Verkauf,Helfer,0.2156,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,Niedersachsen,NaN,Verkauf,Helfer,0.0962,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,Deutschland,NaN,Altenpflege,Helfer,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,BadenWuerttemberg,NaN,Altenpflege,Helfer,0.1335,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,RheinlandPfalz,NaN,Altenpflege,Helfer,0.0493,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NordrheinWestfalen,NaN,Altenpflege,Helfer,0.2156,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,Niedersachsen,NaN,Altenpflege,Helfer,0.0962,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN